<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facebook_volley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.facebook_volley.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon_fb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FriendOnlineMenuActivity">
        </activity>
        <activity android:name=".ViewImage">
        </activity>
        <activity android:name=".widget.Feedtinnhan_dialog">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".VideoPlayActivity">
        </activity>
    </application>

</manifest>
